.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000000;
}
.preloader_image{
    filter: brightness(20%);
    background-image: url('../../img/preloader.jpg');
    width: 100%;
    height: 100vh;
    position: absolute;
}
.preloader_text{
    margin: 0 auto;
    font-size: 150px;
    color: #171717;
    font-family: 'Didact-Gothic';
    z-index: 1;
    user-select: none;
    position: relative;
}
.preloader_text::before,
.preloader_text::after {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.preloader_text::before{
    left: 6px;
    // text-shadow: -2px 0 rgb(255, 0, 0);
    background: transparent;
    animation: glitch-anim-1 0.0001s infinite linear alternate-reverse;
}
.preloader_text::after{
    left: -6px;
    // text-shadow: -2px 0 #c300ff;
    background: transparent;
    animation: glitch-anim-2 0.0001s infinite linear alternate-reverse;
}
@keyframes glitch-anim-1{
  $steps:100;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      filter: hue-rotate(random(360)+deg);
      text-shadow: (random(10)-10)+px (random(10)-10)+px #C400FF;
      clip:rect(random(100)+px,9999px,random(300)+px,0);
    }
  }
}
@keyframes glitch-anim-2{
  $steps:100;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      filter: hue-rotate(random(360)+deg);
      text-shadow: random(10)+px random(10)+px blue ;
      clip:rect(random(100)+px,9999px,random(300)+px,0);
    }
  }
}
.preloader_line{
    animation: linePulse 3s infinite;
    width: 10%;
    height: 10px;
    position: absolute;
    background-color: red;
    transform: translate(-100%, 1000%);
}
@keyframes linePulse {
    100%{
      transform: translate(1000%,1000%);
      filter: hue-rotate(270deg);
      box-shadow: 0 0 20px red;
    }
}
.off_preloader{
    animation: offPreloader 1s 1;
}
@keyframes offPreloader {
    100%{
      filter: blur(10px);
      opacity: 0;
    }
}